.is-loaded .loader-bg {
  -webkit-transform: scaleX(1) scaleY(1) !important;
  -ms-transform: scaleX(1) scaleY(1) !important;
  transform: scaleX(1) scaleY(1) !important;
  -webkit-transition: all 1s 0.1s cubic-bezier(0.485, 0.605, 0, 1);
  transition: all 1s 0.1s cubic-bezier(0.485, 0.605, 0, 1);
}
.loader-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(25) scaleY(25);
  -ms-transform: scaleX(25) scaleY(25);
  transform: scaleX(25) scaleY(25);
  background: #fff;
}