
*{
  margin:0;
  padding:0;

}
footer, header{
  margin:0!important;
  padding:0!important;
}
html{
  background: #191919;
  width: 100%;
  height: 100%;

}
body{
  background: #bcbcbc;
  width: 100%;
  height: 100%;
}
h1,h2,h3,h4,h5{
  text-transform: uppercase;
}

nav span{
  text-align: center;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  box-shadow: 0 0 150px rgba(0,0,0,0.9) inset;
}


#leftSection{
  background: #191919;

  position: absolute;
  left:0;

  height: 100%;
  width:50%;

  overflow: hidden;

  border-right: 4px solid #191919;
}

#rightSection{
  background: rgba(178,52,70,1.0);
  /*background: black;*/

  position: absolute;
  right:0;
  
  height: 100%;
  width:50%;

  overflow: hidden;

  border-left: 5px solid #191919;
}


.business-card{
  position: absolute;
  top: 0;
  margin-bottom:0!important;
  border: 0;

  padding-left: 1.975rem;
  padding-right: 1.975rem;
}
.business-card *{
  border: 0px solid white;
  color: white;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.975rem;
}

.business-card h1{
  font-weight: 400;

}

.business-card nav *{
  letter-spacing: 1px;
}

.business-card h2,
.business-card h3{
  letter-spacing: 2px;

}

.business-card header,
.business-card footer{
  border: none;
}

.business-card footer{
  padding:0;
}


/*#myCanvas{
  display: block;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 0px solid white;
  -webkit-user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);


}*/

.left-image
{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right: 0;
  /* z-index: -1;*/
  /*background: url(../img/redfox.png) right no-repeat;*/
  /*background: url(../img/moose.jpeg) right no-repeat;*/
  background: url(../img/moose2.jpg) right no-repeat;
  /*background: url(../img/chicago1.png) right no-repeat;*/
  /*background: url(../img/engine.jpg) right no-repeat;*/
  background-size: cover;
  -webkit-transform: scaleX(1) scaleY(1);
  -moz-transform: scaleX(1) scaleY(1);
  -ms-transform: scaleX(1) scaleY(1);
  -o-transform: scaleX(1) scaleY(1);
  transform: scaleX(1) scaleY(1);

  transition:transform 60s;
}

.left-image.is-loaded
{
  -webkit-transform: scaleX(1.25) scaleY(1.25);
  -moz-transform: scaleX(1.25) scaleY(1.25);
  -ms-transform: scaleX(1.25) scaleY(1.25);
  -o-transform: scaleX(1.25) scaleY(1.25);
  transform: scaleX(1.25) scaleY(1.25);
}


.striped-overlay{
  background: url(../img/striped_overlay.png) repeat center 0;

  width: 100%;
  height: 100%;
  /* z-index: 100; */
  position: absolute;
  top: 0;
  
}

.top-half, .bottom-half{
  height: 50%;

  /*overflow: hidden;*/
  margin-bottom: 0!important;
  max-width: 100%;

}

.top-half{
  border-bottom: 3px solid black;
}

.bottom-half{
  border-top: 3px solid black;


  /*background: url(../img/striped_overlay.png) repeat center 0;*/
  
}


#fastener{
  border: 6px solid #191919;
  transition: transform 300ms ease 1500ms;
}

#fastener.is-loaded{
  /*  opacity: 0.95;*/
  transform: rotateZ(45deg);
  cursor: pointer;

  /*box-shadow: 0 0 30px white, 0 0 30px white;*/
}

.logo {
  z-index: 101;
  width: 5em;
  height: 5em;
  margin: 2em auto;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.5em 0 0 -2.5em;
}

.i-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5815em 0 0 -0.8em;
  overflow: hidden;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);

  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.0);
  -moz-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.0);
  -ms-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.0);
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.0);
}
  
  .is-loaded .i-logo {

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
      transform: rotate(180deg);

  }
  .i-logo, .i-logo svg {
    width: 1.6em;
    height: 1.163em;
  }

#logo-mask {
  fill: #fff; }
  @media (min-width: 1025px) {
    #logo-mask {
      fill: #fff; } }

.logo-title {
  display: none; }

.loader-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(25) scaleY(25);
      -ms-transform: scaleX(25) scaleY(25);
          transform: scaleX(25) scaleY(25);


}
  .is-loaded .loader-bg {
    -webkit-transform: scaleX(1) scaleY(1) !important;
        -ms-transform: scaleX(1) scaleY(1) !important;
            transform: scaleX(1) scaleY(1) !important;
    -webkit-transition: all 1s 0.1s cubic-bezier(0.485, 0.615, 0, 1);
            transition: all 1s 0.1s cubic-bezier(0.485, 0.605, 0, 1);
  }
  @media (max-width: 1025px) {
    .loader-bg {
      -webkit-transform: scaleX(25) scaleY(25) !important;
          -ms-transform: scaleX(25) scaleY(25) !important;
              transform: scaleX(25) scaleY(25) !important;
    }
      .is-loaded .loader-bg {
        -webkit-transform: scaleX(1) scaleY(1) !important;
            -ms-transform: scaleX(1) scaleY(1) !important;
                transform: scaleX(1) scaleY(1) !important;
        -webkit-transition: all 1s 0.1s cubic-bezier(0.485, 0.605, 0, 1);
                transition: all 1s 0.1s cubic-bezier(0.485, 0.605, 0, 1); 
      }
  }

#logo-fill-1 {
  fill: #ccc;
}
  .is-loaded #logo-fill-1 {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  @media (max-width: 1025px) {
    #logo-fill-1 {
      fill: #ccc !important; 
    } 
  }

#logo-fill-2 {
  fill: #292929;
  -webkit-animation: loader3d 1s linear infinite;
          animation: loader3d 1s linear infinite;
}
  .no-csstransforms3d #logo-fill-2 {
    -webkit-animation: loader 1s linear infinite;
            animation: loader 1s linear infinite;
  }
  .is-loaded #logo-fill-2 {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }


  @media (max-width: 1025px) {
    #logo-fill-2 {
      fill: #292929 !important;
    }
  }



@-webkit-keyframes loader3d {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
      }

  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top center;
            transform-origin: top center;
      }

  50.01% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }

  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
        }
}



@keyframes loader3d {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }

  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }

  50.01% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }

  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
}



@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }

  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }

  50.01% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }

  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
}



@keyframes loader {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }

  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }

  50.01% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }

  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
}
